<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">`
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Converts-currency </title>
    <style>
        .btn {
            margin-bottom: 7px;
            margin-right: 5px;
        }

        .fieldBlock {
            display: inline-block;
            width: 170px;
            margin: 10px;
            margin-left: 0px;
        }

        .result {
            display: inline-block;
            width: 80%;
            margin-left: 20%;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Currency Convertor</h3>
    <form th:action="@{/currency}" method='GET'>
        <div class="form-group">
            <div class="fieldBlock">
                <label for="type_from">Form</label>
                <select class="form-control" id="type_from" name="from">
                    <option th:each="currencyData : ${currencyDatas}"
                            th:value="${currencyData.type}"
                            th:text="${currencyData.type}"
                            th:selected="${currencyData.type} == ${type}">
                    </option>
                </select>
            </div>
            <div class="btn btn-light" id="button" data-role="button"><i class='fas fa-exchange-alt'></i></div>
            <div class="fieldBlock">
                <label>To</label>
                <select class="form-control" id="type_to" name="to">
                    <option th:each="currencyData : ${currencyDatas}"
                            th:value="${currencyData.type}"
                            th:text="${currencyData.type}"
                            th:selected="${currencyData.type} == ${type1}">
                    </option>
                </select>
            </div>
            <div class="fieldBlock">
                <label>Amount</label>
                <input class="form-control" type="text" name="currencyAmount" th:value="${fieldValue}"
                       onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null :
                       (event.charCode >= 46 && event.charCode <= 46) ||
                        (event.charCode >= 48 && event.charCode <= 57)"/>
            </div>
            <button class="btn btn-warning" type="submit">Calculate</button>
        </div>
    </form>

    <div class="result">
        <p th:text="${type != null}? ${fromValue+' '+type+' =' }:''"></p>
        <b th:text="${sum != null}? ${sum}:''"/>
        <span th:text="${type1}"/>
    </div>
</div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    $("#button").click(function () {
        var value_f = ($('#type_from :selected').val());
        var value_t = ($('#type_to :selected').val());
        $('#type_from').val(value_t);
        $('#type_to').val(value_f)
    });
    /*]]>*/
</script>
</html>